extensions:
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension

	nettrine.orm: Nettrine\ORM\DI\OrmExtension

nettrine.dbal:
	connections:
		default:
			driver: mysqli
			host: %dbHost%
			user: %dbUser%
			password: %dbPassword%
			dbname: %dbName%
			port: %dbPort%
			charset: utf8
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]

nettrine.orm:
	managers:
		default:
			connection: default
			entityManagerDecoratorClass: App\Model\EntityManagerDecorator

			mapping:
				defaut:
					namespace: App\Model\Entities
					directories:
						- %appDir%/Model/Entities

			defaultCache: Contributte\Psr6\CachePool(
				Nette\Caching\Cache(
					Nette\Caching\Storages\FileStorage(%tempDir%/cache)
					doctrine/dbal
				)
			)
