includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-doctrine/rules.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 8

	doctrine:
		repositoryClass: App\Model\Repositories\EntityRepository
		objectManagerLoader: tests/object-manager.php

	bootstrapFiles:
		- tests/phpstan-bootstrap.php

	tmpDir: temp/phpstan

	ignoreErrors:
		-
			message: "#^Call to an undefined method App\\\\Model\\\\UserManager\\:\\:shouldReceive\\(\\)\\.$#"
			count: 1
			path: tests/cases/integration/presenters/SignPresenterTest.php

		-
			message: "#^PHPDoc tag @param for parameter \\$userManager contains unresolvable type\\.$#"
			count: 1
			path: tests/cases/integration/presenters/SignPresenterTest.php
