extensions:
	mango.tester: Webnazakazku\MangoTester\Infrastructure\MangoTesterExtension
	mango.tester.presenterTester: Webnazakazku\MangoTester\PresenterTester\Bridges\Infrastructure\PresenterTesterExtension
	mango.tester.databaseCreator: Webnazakazku\MangoTester\DatabaseCreator\Bridges\NetteDI\DatabaseCreatorExtension
	mango.tester.databaseCreatorInfrastructure: Webnazakazku\MangoTester\DatabaseCreator\Bridges\Infrastructure\DatabaseCreatorInfrastructureExtension
	mango.tester.httpMock: Webnazakazku\MangoTester\HttpMocks\Bridges\Infrastructure\HttpExtension

includes:
	- %appDir%/config/extensions/console.neon
	- %appDir%/config/extensions/doctrine.neon
	- %appDir%/config/extensions/migrations.neon

migrations:
	dir: %appDir%/../migrations
	withDummyData: true

parameters:
	appContainer:
		parameters:
			appDir: %appDir%
			wwwDir: %wwwDir%
			tempDir: %tempDir%
		configFiles:
			- %appDir%/config/common.neon

mango.tester.databaseCreator:
	driver: mysql
	dbal: Webnazakazku\MangoTester\DatabaseCreator\Bridges\NextrasMigrations\MySqlNextrasMigrationsDbalAdapter
	migrations: Webnazakazku\MangoTester\DatabaseCreator\Bridges\NextrasMigrations\NextrasMigrationsDriver
	strategy: reset
	databaseName:
		format: 'app_test_%d'

nettrine.orm:
	managers:
		default:
			defaultCache: Contributte\Psr6\CachePool(
				Nette\Caching\Cache(
					Nette\Caching\Storages\DevNullStorage()
					doctrine/dbal
				)
			)


services:
	- AppTests\AppConfiguratorFactory
	cache.storage: Nette\Caching\Storages\DevNullStorage
